@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #c3c4be;
}


/* ************************************************************************************************* */
/* *****************************************     Header     **************************************** */
/* ************************************************************************************************* */

header {
    color: #313552;
    height: 10vh;
    width: 100%;
    background-color: #c3c4be;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Main Page Title */
header h1 {
    font-size: 20pt;
    font-weight: 800;
}


/* ************************************************************************************************* */
/* ***************************************     Search Bar     ************************************** */
/* ************************************************************************************************* */

form {
    height: 8vh;
    background-color: #c3c4be;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}


/* Form Label */
form label {
    padding: 10px 20px;
    background-color: #f7f7f7;
    border: 1px solid #313552;
    font-size: 18pt;
    height: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* Form Text Input */
form input {
    border: 1px solid #313552;
    padding: 10px 20px;
    width: 400px;
    font-size: 14pt;
    height: 100%;

    position: relative;
}


/* Close Icon */
.close__icon {
    font-size: 20pt;
    color:#b8405e;
    opacity: 0.3;
    transform: scale(1);

    position: absolute;
    right: calc(50% - 220px);

    transition-duration: 0.5s;
    transition-property: color, opacity, transform;
}


.close__icon:hover {
    cursor: pointer;
    color:#ff0000;
    opacity: 1;
    transform: scale(1.1);
}


/* Form Search Button */
form button {
    border: 1px solid #313552;
    background-color: #f7f7f7;
    padding: 10px 20px;
    font-size: 14pt;
    color: #313552;
    height: 100%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    transition-duration: 0.5s;
    transition-property: color, background-color;
}


form button:hover {
    cursor: pointer;
    background-color: #2eb086;
    color: #f7f7f7;
}


/* Search Icon */
form button #search__icon {
    transform: scale(1);

    transition-duration: 0.5s;
    transition-property: transform;
}


form button:hover #search__icon {
    transform: scale(1.2);
}


/* ************************************************************************************************* */
/* *************************************     Similar Movies     ************************************ */
/* ************************************************************************************************* */

#similar__movies {
    min-height: 74vh;
    list-style: none;
    padding: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Single Movie Card */
.movie__card {
    background-color: #313552;
    width: 18%;
    border-radius: 25px;
    overflow: hidden;

    position: relative;
    margin: 20px;

    border: 2px solid;
    border-color: #f7f7f7;

    transition: 0.5s border-color;
}


.movie__card:hover {
    border-color: #ff008e;
    cursor: pointer;
}


/* Movie Poster Image */
.movie__poster {
    width: 100%;
    transform: scale(1.1);

    transition: 0.5s transform;
}


.movie__card:hover .movie__poster {
    transform: scale(1.2);
}


/* Movie Details */
.movie__details {
    background-color: #ffffff;
    color: #313552;
    width: 100%;
    padding: 30px 15px 15px;
    line-height: 2;
    border-top: 3px solid;
    border-color: #f7f7f7;

    transition: 0.5s border-color;

    position: relative;
}


.movie__card:hover .movie__details {
    border-color: #ff008e;
}


/* Movie Rating Score */
.user__score {
    background-color: #ffffff;
    width: 50px;
    height: 50px;

    border: 2px solid;
    border-radius: 50%;
    border-color: #313552;
    transition: 0.5s border-color;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -25px;
    left: 20px;
}


.user__score #percentage {
    font-size: 8pt;
    font-weight: 400;
}


.user__score #value {
    font-size: 18pt;
    font-weight: 600;
}


/* Movie Title */
.movie__title {
    font-weight: 800;
    font-size: 16pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* Movie Release Date */
.release__date {
    font-size: 12pt;
    font-weight: 400;
}


/* ************************************************************************************************* */
/* *************************************     Single Movie     ************************************** */
/* ************************************************************************************************* */

.movie__container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: default;

    position: fixed;
    top: 0;
    left: -100vw;

    transition: 0.5s left;
}


/* Single Movie Card */
.single__movie {
    width: 80vw;
    height: 80vh;
    background-color: #c3c4be;
    border-radius: 50px;
    overflow: hidden;
    color: #313552;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    top: calc(50% - 40vh);
    left: calc(50% - 40vw);

    transition: 0.5s left;
}


/* Close Icon */
.single__movie .close__icon {
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 0.6;
}


/* Movie Poster Image */
.single__movie img {
    height: 100%;
}


/* Movie Details */
.single__movie .details__container {
    height: 80%;
    width: 100%;
    padding: 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


/* Movie Title and Year */
.single__movie .main__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}


/* Movie Title */
.main__title h2 {
    font-size: 24pt;
    font-weight: 900;
    line-height: 1.6;
}


/* Movie Year */
.main__title h2 .year {
    font-style: italic;
    font-size: 20pt;
    font: 600;
    color: #ffffff;
}


/* Movie Release Date, Genres and Runtime */
.main__title ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


.main__title ul * {
    margin-right: 25px;
}


.main__title ul *:not(:first-child) {
    list-style: disc;
}


/* User Score */
.single__movie .user__score {
    position: static;
    padding: 10px;
}


/* Movie Tagline */
.single__movie .movie__tagline {
    font-style: italic;
    font-size: 14pt;
    font-weight: 400;
}


/* Movie Overview */
.single__movie .movie__overview h2 {
    font-size: 18pt;
    font-weight: 600;
    line-height: 1.6;
}


.single__movie .movie__overview p {
    line-height: 1.6;
    font-size: 14pt;
    font-weight: 400;
}


/* ************************************************************************************************* */
/* *****************************************     Footer     **************************************** */
/* ************************************************************************************************* */

footer {
    color: #313552;
    height: 8vh;
    width: 100%;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


footer * {
    font-size: 16pt;
}

/* Credit Caption */
#credit__caption a {
    text-decoration: none;
    color: #313552;
    font-weight: 900;

    transition-duration: 0.5s;
    transition-property: color;
}


#credit__caption a:hover {
    color: #2eb086;
}


/* Social Media Links */
#social__media {
    width: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#social__media * {
    font-size: 24pt;
    color: #313552;
    transform: scale(1);

    transition-duration: 0.5s;
    transition-property: color, transform;
}


#social__media *:hover {
    cursor: pointer;
    color: #2eb086;
    transform: scale(1.1);
}


/* Main Caption */
#main__caption {
    text-transform: uppercase;
}


#main__caption span {
    color: #ff0000;
    font-size: 20pt;
}


#main__caption i {
    color: #F1D00A;
    font-size: 20pt;
}
